{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SymBook{% endblock %}

{% block body %}
<div class="container mt-5">
	<div >
		<h2>welcome</h2>
	</div>

    <!-- Catégories Populaires -->
    <h2>Catégories Populaires</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ asset('images/best.jpg') }}" alt="Catégorie 1">
                <div class="card-body">
                    <h5 class="card-title">Bestsellers</h5>
                    <p class="card-text">Découvrez les livres les plus vendus du moment.</p>
                    <a href="" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ asset('images/news.jpg') }}" alt="Catégorie 2">
                <div class="card-body">
                    <h5 class="card-title">Nouveautés</h5>
                    <p class="card-text">Les derniers livres ajoutés à notre collection.</p>
                    <a href="" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ asset('images/recs.jpg') }}" alt="Catégorie 3">
                <div class="card-body">
                    <h5 class="card-title">Recommandations</h5>
                    <p class="card-text">Nos recommandations pour vous.</p>
                    <a href="" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
    </div>

   </div>
    {% endblock %}
